<!-- <p>appCounter = {{ extCounter.counter }}</p> -->
<!-- <p>appCounter = {{ appCounter }}</p> -->

<div class="container">
  <!-- <input name="query" [(ngModel)]="query" /> -->
  <mat-form-field class="example-full-width">
    <mat-label>enter query here</mat-label>
    <input
      name="query"
      [(ngModel)]="query"
      matInput
      placeholder=""
      value="query"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="btnSearch($event)">
    search
  </button>
</div>

<div class="container">
  total pictures found {{ total }} page {{ page }} /
  {{ total / perPage | pager }}
</div>

<div class="container">
  <button mat-raised-button color="primary" (click)="btnBack()" *ngIf="isBack">
    back
  </button>
  <button mat-raised-button color="primary" (click)="btnNext()" *ngIf="isNext">
    next
  </button>
</div>

<div class="response">
  <!-- <div cols="2" rowHeight="150px"> -->
  <div *ngFor="let item of pictures; let i = index">
    <mat-card>
      <mat-card-content>
        <app-picture-dialog
          [largeImageURL]="pictures[i].largeImageURL"
        ></app-picture-dialog>
      </mat-card-content>
      <img
        width="150"
        height="100"
        src="{{ item.previewURL }}"
        alt="{{ item.tags }}"
      />
    </mat-card>
  </div>
  <!-- </div> -->
</div>

<!-- <app-test></app-test> cols="2"-->
